@media (min-width: 768px) {
    #menu {
        display: block !important;
    }

    #menuBtn {
        display: none;
    }

    nav ul {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    #directory-container.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 40rem;
    }

    footer p {
        flex: 1;
        margin: 0;
    }

    footer p:first-child {
        text-align: left;
    }

    footer p:last-child {
        text-align: right;
    }
}