@media (min-width: 768px) {
    #menu {
        display: block !important;
    }

    #menuBtn {
        display: none;
    }

    nav ul {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    #directory-container.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        padding: 1rem 0;
    }

    #directory-container.list .card {
        display: grid;
        grid-template-columns: 250px 1fr;
        gap: 1rem;
        align-items: center;
    }

    #directory-container.list .card img {
        width: 100%;
        height: 150px;
        margin-bottom: 0;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: auto;
        margin: 0 auto;
        padding: 1rem 2rem;
        text-align: unset;
    }

    footer p {
        flex: 1;
        margin: 0;
    }

    footer p:first-child {
        text-align: left;
    }

    footer p:last-child {
        text-align: right;
    }
}